<div class="container">
    <br />
    <h1 class="text-danger text-center">Add Details</h1>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-danger" (click)='addMore()'>Add More</button>
      </div>
    </div>
    <form [formGroup]='projectinvovementForm' novalidate class="text-center border-light p-5" (ngSubmit)='submitprojectinvovement()'>
      <div formArrayName="involvementarray" *ngFor="let t of involvementarray.controls; let i =index" >
            <div class="row" [formGroupName]="i" >
                <div class="col-md-4">
                  <input formControlName='projectname' id="{{'projectname'+i}}" type="text" class="form-control mb-4"
                    placeholder="Enter Project Name" />
                </div>
                <div class="col-md-4">
                 <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input  [rangePicker]="picker">
                          <input formControlName='start' id="{{'start'+i}}"  matStartDate placeholder="Join date">
                          <input formControlName='end' id="{{'end'+i}}" matEndDate placeholder="Resign date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>   -->
                    </mat-form-field>
=                   </div>
                      <div class="col-md-2" *ngIf ="i!=0">
                        <button class="btn btn-danger" (click)="deleteValue(i)">Delete</button>
                      </div>
         </div>
        </div>
      <button class="btn btn-danger submitbutton">Submit</button>
    </form>
  </div>
