
.headerfont{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 20px;
    color:#3FA200;
}
.jumbotron{
    margin-top: 3%;
    padding-top:3%;
    padding-bottom: 3%;
}
.headerline{
    font-weight: 200;
    background-color:#3FA200;
}
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(42, 185, 7, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'YOUR  UPLOADED IMAGE.';
    color: rgba(42, 185, 7, 0.7);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}
.formerror{
    color:red;
}
.image-area img {
    z-index: 2;
    position: relative;
}
